# (Data Lake/Warehouse local)
mysql_data/
dagster_home/
fuzzy_oltp/
data_output/

# venv
.venv/
venv/
__pycache__/
*.pyc
.dagster/
.vscode/

# security
bq_key.json
.env

# system trash
.DS_Store
Thumbs.db
logs/